<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11439592494-4f9gsch3823drq2mi7gonj8mbmpk1p9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11439592494-4f9gsch3823drq2mi7gonj8mbmpk1p9k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>11439592494-0iu61morm0vcntsvd8n1s1j57n4nbrr5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5QS1BZNUifkbn3JVn57noXTNdAhIhtew</string>
	<key>GCM_SENDER_ID</key>
	<string>11439592494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.joinfemi.femiResearch</string>
	<key>PROJECT_ID</key>
	<string>femisearch-7cf91</string>
	<key>STORAGE_BUCKET</key>
	<string>femisearch-7cf91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11439592494:ios:3aa374d4daff5c1d9c3bbf</string>
</dict>
</plist>